{#
This is not too pretty to look at. It basically defines the HTML to use
for each bit of rendering a form, from rows and labels, to the individual field types.
Each block defines the HTML for one small part of the problem.
The blocks output HTML, call other blocks, or call functions in the FormExtension
(esp. for recursive elements)
So, this file essentially defines the markup used to render forms
#}

{# Draws a label of a field #}
{% block field_label %}
<label class="control-label" for="{{id|default(name)}}">{{label|default(name)}}</label>
{% endblock %}

{# Draws the errors on a field #}
{% block field_errors%}
{% if errors %}<span class="help-inline">{% for e in errors %}{{e}}<br />{% endfor %}</span>{% endif %}
{% endblock %}


{# render attributes for a field #}
{% block field_attributes %}
{% if readonly %}readonly="readonly" {%endif%}
{% if attributes %}{% for n,v in attributes %}{{n}}="{{v}}" {%endfor%}{%endif%}
{% endblock %}


{# render Anything we want to appear just after the widget #}
{% block field_extra %}
{% if hint %}<p class="help-block">{{hint}}</p>{% endif %}
{% endblock %}


{# Draws the html widget of a field #}
{% block field_widget %}
<input type="{{type|default('text')}}" id="{{id}}" name="{{full_name}}" value="{{value}}" {% if class %}class="{{class}}"{%endif%} {{block('field_attributes')}} />
{{block('field_extra')}}
{% endblock %}

{% block textarea_widget %}
<textarea id="{{id}}" name="{{full_name}}" {% if class %}class="{{class}}"{%endif%} rows="{{rows|default(5)}}" {{block('field_attributes')}}>{{value}}</textarea>
{{block('field_extra')}}
{% endblock %}

{% block checkbox_widget %}
<label class="checkbox"><input type="{{type|default('checkbox')}}" id="{{id}}" name="{{full_name}}" value="{{value}}" {%if class%}class="{{class}}" {%endif%} {%if attributes.checked %}checked="checked"{%endif%} {{block('field_attributes')}}/>{{label|default(name)}}</label>
{{block('field_extra')}}
{% endblock %}

{% block radio_widget %}
<label class="radio"><input type="{{type|default('radio')}}" id="{{id}}" name="{{full_name}}" value="{{value}}" {% if class %}class="{{class}}"{%endif%} {%if attributes.checked %}checked="checked"{%endif%} {{block('field_attributes')}} />{{label|default(name)}}</label>
{{block('field_extra')}}
{% endblock %}

{% block choice_widget %}
{%spaceless%}
	{% if expanded %}
		{% for child in form %}
			{{ form_widget(child) }}
		{% endfor %}
	{%else%}
		<select id="{{id}}" name="{{full_name}}" {% if class %}class="{{class}}"{%endif%} {% if multiselect %}multiple="multiple"{%endif%} {{block('field_attributes')}}>
			{% for optionVal, optionLabel in choices %}
			<option value="{{optionVal}}" {%if isChoiceSelected(optionVal, value)%}selected="selected"{%else%}{% if readonly %}disabled="disabled"{%endif%}{%endif%}>{{optionLabel}}</option>
			{% endfor %}
		</select>
	{% endif %}
	{{block('field_extra')}}
{%endspaceless%}
{% endblock %}

{% block hidden_widget %}
<input id="{{id}}" type="hidden" name="{{full_name}}" value="{{value}}" {{block('field_attributes')}}/>
{% endblock %}


{# Draws all the parts of a field (label, errors, widgets) #}
{% block field_row %}
{%spaceless%}
<div class="control-group{% if errors %} error{%endif%}">
	{{ form_label(form) }}
	<div class="controls">
	{{ form_widget(form) }}
	{{ form_errors(form) }}
	</div>
</div>
{%endspaceless%}
{% endblock  %}

{% block checkbox_row %}
<div class="control-group">
	<div class="controls">
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	</div>
</div>
{% endblock  %}

{% block radio_row %}
<div class="control-group">
	<div class="controls">
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	</div>
</div>
{% endblock  %}

{% block hidden_row %}
{{ form_widget(form) }}
{% endblock  %}



{# Draws a sub-form #}
{% block form_row %}
{%spaceless%}
	{% if label %}
	<fieldset><legend>{{label}}</legend>
		{% if errors %}
		<div class="control-group error">
			<label class="control-label" ></label>
			<div class="controls">
				{{ form_errors(form) }}
			</div>
		</div>
		{% endif %}
	{% endif %}
	{% for child in form %}
		{{ form_row(child) }}
	{% endfor %}
	{% if label %}
	</fieldset>
	{% endif %}
{%endspaceless%}
{% endblock form_row %}


{# Draws all the rows in a form #}
{% block field_rows %}
{%spaceless%}
	{% for child in form %}
		{{ form_row(child) }}
	{% endfor %}
{%endspaceless%}
{% endblock %}

